# Sistema
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/

# Logs
*.log

# Arquivos temporários
*.tmp
*.swp

# Node (caso você use no futuro)
node_modules/

# Build (prevenção futura)
dist/
build/